@import"../../global.scss";
.topbar{
    width: 100%;
    height: 3.4375em;
    background-color: #20242a;
    color: #f1d9be;
    position: fixed;
    font-size: 0.8125;
    top: 0;
    z-index: 3;
    transition:all 1s ease ;


    .wrapper{
        padding: 0.625em 1.875em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .left{
        display: flex;
        align-items: center;

        

        .logo{
            font-size: 1.25em;
            font-weight: 700;
            text-decoration: none ;
            color: inherit;
            margin-right:3.125em ;
            margin-top: 0.3125em;
        }

        .itemContainer{
            display: flex;
            align-items: center;
            margin-left: 1.875em;

            .icon{
                font-size: 1.125em;
                margin-right: 0.3125em;
            }

            .span{
                font-size: 0.9375em;
                font-weight: 400;
            }
        }    
    }
    .right{
        .hamburger{
            width: 2em;
            height: 1.5625em;
            display: flex;
            flex-direction: column;
            justify-content: space-between ;
            cursor: pointer;
            overflow: hidden;
            
            span{
                width: 100%;
                height: 0.1875em;
                float : right;
                background-color: #f1d9be;
                transform-origin: left;
                transition: all 2s ease;
            }   
        }
    }    
    &.active{
        background-color: #20242a;
        color:#f1d9be;
        
    
        .hamburger{
            span{
                &:first-child{
                    background-color: #ff662b;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:last-child{
                    background-color: #ff662b;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

