.contact{
  background-color: #20242a;
  
}

.imgContainer14{
width: 3.125em;
height: 3.125em;
overflow: hidden;
//background-color: #FAEBD7;
//border-radius: 50%;
display: flex;
align-items: left;
justify-content: left;
float: left;
margin-top: 0em;
margin-left: 16.875em;
padding: 0em;
  

  img{
    width: 100%;
    }
  }

.imgContainer15{
width: 3.125em;
height: 3.125em;
overflow: hidden;
//background-color: #FAEBD7;
//border-radius: 50%;
display: flex;
align-items: left;
justify-content: left;
float: left;
margin-top: 0em;
margin-left: 9.375em;
padding: 0em;
    
  img{
    width: 100%;
    }
  }

.imgContainer16{
width: 3.125em;
height: 3.125em;
overflow: hidden;
//background-color: #FAEBD7;
//border-radius: 50%;
display: flex;
align-items: left;
justify-content: left;
float: left;
margin-top: 0em;
margin-left: 9.375em;
padding: 0em;

  img{
    width: 100%;
    }
  }

.imgContainer17{
width: 3.125em;
height: 3.125em;
overflow: hidden;
//background-color: #FAEBD7;
//border-radius: 50%;
display: flex;
align-items: left;
justify-content: left;
float: left;
margin-top: 0em;
margin-left: 9.375em;
padding: 0em;

  img{
    width: 100%;
    }
  }

  h6{
      font-size: 1.75em;
      display: flex;
      margin: 4.125em 0;
      color: #ff662b;
      justify-content: center;
      align-items: center;
  }